fil_finder.sublime-workspace
fil_finder.sublime-project
fil_finder/*.pyc
analyzefilaments.py
evm.py
index.html
fil_mod.py
run_gouldbelt.py
build/
.DS_store
fil_finder.egg-info/
bulk_analysis.py
examples/.*
interruptible_pool.py*

# Sphinx documentation
docs/_build/