name: Run tests

on:
  push:
  pull_request:

jobs:
  tests:
    name: ${{ matrix.name}}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            python-version: 3.9
            name: Python 3.9 with minimal dependencies
            toxenv: py39-test

          - os: ubuntu-latest
            python-version: '3.10'
            name: Python 3.10 with minimal dependencies
            toxenv: py310-test

          - os: ubuntu-latest
            python-version: 3.11
            name: Python 3.11 with minimal dependencies
            toxenv: py311-test

          - os: ubuntu-latest
            python-version: 3.9
            name: Python 3.9 with minimal and dev dependencies
            toxenv: py39-test-dev

          - os: ubuntu-latest
            python-version: 3.11
            name: Python 3.11, all dependencies, and dev versions of key dependencies
            toxenv: py311-test-dev

          - os: ubuntu-latest
            python-version: 3.11
            name: Python 3.11, all dependencies, and coverage
            toxenv: py311-test-all-cov

          - os: macos-latest
            python-version: 3.11
            name: Python 3.11 with all dependencies on MacOS X
            toxenv: py311-test-all-dev

          # - os: windows-latest
          #   python-version: 3.7
          #   name: Python 3.7, with all dependencies on Windows
          #   toxenv: py37-test-all-dev

          - os: ubuntu-latest
            python-version: 3.11
            name: Documentation
            toxenv: build_docs

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install testing dependencies
      run: python -m pip install tox codecov
    - name: Run tests with ${{ matrix.name }}
      run: tox -v -e ${{ matrix.toxenv }}
    - name: Upload coverage to codecov
      if: ${{ contains(matrix.toxenv,'-cov') }}
      uses: codecov/codecov-action@v5
      with:
        files: ./coverage.xml